<div id="single-post-content" class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3><%= @entry.title %></h3>
      <div class="posted-by">Posted by <%= @entry.user.username %></div>
      <p><%= @entry.content %></p>
    </div>
  </div><!-- row -->
</div>