.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.card {
  text-align: center;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card h1 {
  font-size: 16px;
  font-weight: bold;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

// .single-entry-card{
  
//   box-shadow: 1px 1px 4px rgba(0,0,0, 0.3);
//   color: black;
//   padding: 10px;
//   margin-top: 20px;
//   text-align: center;
//   transition: border 0.1s, background 0.5s;

//   .card-img-top {
//     width: 100%;
//   }
//   .card-title {
//     overflow: hidden;
//   }

//   a, a:active, a:hover {
//     color: black;
//   }
  
//   &:hover {
//     cursor: pointer;
//     background: white;
//     box-shadow: none;
//     border-radius: 1%;
//   }
// }
