 .single-entry-card{
  min-height: 100%;
  max-height: 275px;
  box-shadow: 1px 1px 4px rgba(0,0,0, 0.3);
  color: black;
  padding: 10px;
  text-align: center;
  transition: border 0.1s, background 0.5s;

  .card-img-top {
    width: 100%;
  }
  .card-title {
    overflow: hidden;
  }
  a, a:active, a:hover {
    color: black;
  }
  &:hover {
    cursor: pointer;
    background: white;
    box-shadow: none;
    border-radius: 1%;
  }
}

// .entry-content {
//   display: none;
// }

// .solid-color-mode, .border-color-mode {
//   .entry-text {
//     text-align: center;
//   }
// }

// .solid-color-mode {
//   .entry-text {
//     padding: 10px;
//     background-color: white;
//     border-radius: 25px;
//   }
// }

// .border-color-mode {
//   background-color: white;
// }