

.main-content{
  font-family: 'MedioRoman';
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 80px;
}

// #main-content {
//     background: white;
//     min-height: 800px;
//     margin: 0;
//     padding: 10px 0 0 0;
//     text-align: center;
//     width: 90%;
//   }
  
  // #side-menu {
  //   max-width: 16rem !important;
  //   width: 100%;
  //   min-height: 100vh;
  //   background-color: $navbarColor;
  //   position: fixed;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 1;
  // }